<% var likeCount = SoundStorm.currentUser.likes.length %>
<span class="sidebar-data"><%= likeCount %> <%= (likeCount == 1 ? "like" : "likes") %></span>
<a href="#/likes" class="view-all">View all</a>

<% _((SoundStorm.currentUser.likes.sortBy(function(like) { return like.created_at } )).reverse()).first(3).forEach(function(like) { %>

	<div class="like-container">
		<% if (like.get("track").image_url.slice(-11) == "missing.png") { %>
			<a href="#/tracks/<%= like.get('track').id %>"><img src="/blank_track.png"></a>
		<% } else { %>
			<a href="#/tracks/<%= like.get('track').id %>"><img src="<%= like.get("track").image_url %>"></a>
		<% } %>
		<a href="#/tracks/<%= like.get('track').id %>"><%= like.get("track").name %></a>		
	</div>

<% }); %>
