
<img 
	src="<%= user.escape('profile_picture_url') %>"
	height="65px"
	width="45px">
<div id="profile_info">
	<h3><%= user.escape('username') %></h3><br>
	<p><%= user.escape('first_name') %> <%= user.escape('last_name') %></p>

	# followers

	<a href="#/profile/edit" id="profile_edit">Edit</a>
	<button id="share">Share</button>
		
	<p id="user_bio"><%= user.escape('bio') %></p>
</div>
