<span class="user-name"><%= user.escape('username') %></span><br>
<img 
	class="profile-picture"
	src="<%= user.escape('profile_picture_url').match("missing\.png$") ? 
						'blank_profile.gif' : user.escape('profile_picture_url')%>">
<div id="profile_info">
	<p id="full_name"><%= user.escape('first_name') %> <%= user.escape('last_name') %></p>

	<% followingCount = SoundStorm.currentUser.followers.length %>
	<a href="#/followings"><%= followingCount %> <%= followingCount == 1 ? "follower" : "followers"%></a><br>

	<a href="#/profile/edit" id="profile_edit">Edit</a>
	<button id="share" class="hidden">Share</button>
		
	<p id="user_bio"><%= user.escape('bio') %></p>
</div>
