<div class="add-to-set-popup popup" data-track-id="<%= trackId %>">
	<ul>
	<% SoundStorm.currentUser.playSets.each(function(set) { %>
		<li>
			<%= set.escape('name') %>
			<% if (SoundStorm.currentUser.playSets.get(100) && 
							_(SoundStorm.currentUser.playSets.get(100).get("tracks")).any(function(track) { return track.id == trackId })) { %>
				<button 
					class="add-song-to-play-set hidden" 
					data-play-set-id="<%= set.id %>">Add</button>
				<button 
					class="remove-song-from-play-set" 
					data-play-set-id="<%= set.id %>">Remove</button>
			<% } else { %>
				<button 
					class="add-song-to-play-set" 
					data-play-set-id="<%= set.id %>">Add</button>
				<button 
					class="remove-song-from-play-set hidden" 
					data-play-set-id="<%= set.id %>">Remove</button>
			<% } %>			
		</li>
	<% }); %>
	</ul>
	<form>
		<label>Name your set: <input type="text" name="name"></label>
		<input type="hidden" name="owner_id" value="<%= SoundStorm.currentUser.id %>">
		<button class="submit">Create</button>
	</form>

	<button class="close">Close</button>
</div>
