<div class="play-area">
	<audio src="<%= track.escape("audio_url") %>"></audio>
	<div class="name-container">
		<div class="play-button play">
			<div class="symbol">
				<div class="symbol1"></div>
				<div class="symbol2"></div>
			</div>
		</div>
		
	</div>
	<div class="visualizer playable">
		<div class="seeker-container">
			<div class="comments">
				<% track.get("comments").forEach(function(comment) { %>
					<span class="comment-popup hidden" style="left: <%= comment.offset + 20%>px"><%= comment.content %></span>
					<img class="comment-image" data-track-time="<%= comment.track_time %>" src="<%= comment.author.profile_picture_url %>" style="left: <%= comment.offset %>px;">
				<% }); %>
			</div>
			<div class="seeker"></div>
		</div>
	</div>
</div>

<div class="comment-form track-show-comment-form">
	<!-- CSRF? -->
	<img src="<%= SoundStorm.currentUser.escape('profile_picture_url') %>">
	<form class="comment-form-tag">
		<input type="text" class="comment-field" placeholder="write a comment..." name="comment[content]">
		<input type="hidden" name="comment[author_id]" value="<%= SoundStorm.currentUser.id %>">
		<input type="hidden" name="comment[track_id]" value="">
		<input type="hidden" name="comment[offset]" value="">
		<input type="hidden" name="comment[track_time]" value="">	
	</form>
</div>