<span 
	class="comment-popup temp" 
	style="left: <%= +comment.escape('offset') + 20%>px"><%= comment.escape('content') %></span>
<img class="comment-hover temp" data-track-time="<%= comment.escape('track_time') %>" src="<%= SoundStorm.currentUser.escape('profile_picture_url') %>" style="left: <%= comment.escape('offset') %>px;">