<div class="track-show-info">
	<% var imgUrl = (track.escape("image_url").match(/missing\.png$/) ? 
		"blank_track.png" : track.escape("image_url")) %>

	<img src="<%= imgUrl %>">
	<div class="track-info-container">
		<h2><%= track.escape('name') %></h2>
		<p>Released By: <%= track.get("owner").username %></p>
		<p><span class="icon-tag"></span><%= track.escape("category") %></p>
	</div>
</div>

<%= JST['tracks/_player']({ track: track }) %>

