<div class="profile-widget widget track sound" data-track-id="<%= track.id %>">
	<hr>
	
	<div class="image-container">
		<img src="http://s3-us-west-2.amazonaws.com/soundstorm-development/users/profile_pictures/000/000/021/original/Screenshot_7_7_13_7_26_PM.png?1373250664">
	</div>

	<div class="play-area">
		<div class="name-container playable">
			<div class="name-inner-container">
				<span><%= track.escape("name") %></span>
			</div>
			
		</div>
		<div class="visualizer playable">
			<div class="seeker-container">
				<div class="seeker">

				</div>
			</div>
		</div>
		<audio src="<%= track.escape("audio_url") %>"></audio>
	</div>
	

	<div class="buttons-and-stats">
		<%= JST['tracks/_like_buttons']({ track: track }) %>
		
		<button data-track-id="<%= track.id %>" class="add-to-set">Add to Set</button>
		<a href="#/tracks/<%= track.id %>/edit">Edit</a>
		<button class="remove">Remove</button>
	</div>
	
	<div class="pallet"></div>
</div>

