<div class="profile-widget track" data-track-id="<%= track.id %>">
	<p><%= track.escape("name") %></p>
	<audio src="<%= track.escape("audio_url") %>" controls="controls"></audio>

	<button class="like">Like</button>
	<button class="unlike hidden">Unlike</button>
	<button data-track-id="<%= track.id %>" class="add-to-set">Add to Set</button>
	<a href="#/tracks/<%= track.id %>/edit">Edit</a>
	<button class="remove">Remove</button>

	
</div>