<!DOCTYPE html>
<html>
<head>
  <title>SoundStorm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:errors] %>
	<div class="errors">
		<% if flash[:errors].class == Array %>
			<% flash[:errors].each do |error| %>
				<p><%= error %></p>			
			<% end %>
		<% else %>
			<p><%= flash[:errors] %></p>
		<% end %>
	</div>
<% end %>

<%= yield %>

</body>
</html>
